# temp stuff, always exclude
.Xil/*
.Xiltemp/*
*.jou
*.debug
*.str
*.log
*.zip

*.a
*.o

# in this branch, ignore additional files from tcpip
sdk/tcpip_custom.c
sdk/tcpip_custom.h

#/tcl/misc_fw_flow.tcl
#/tcl/help_generate_sdk_projects.tcl
#/sdk/fw_impl_generated.h