# temp stuff, always exclude
.Xil/*
.Xiltemp/*
*.jou
*.debug
*.str
*.log
*.zip

*.a
*.o

# in this branch, ignore additional files from tcpip
sdk/tcpip_custom.c
sdk/tcpip_custom.h

# ignore files and folders generated in a project instance
*.cache/*
*.hw/*
*.ip_user_files/*
*.runs/*
*.sdk/*
*.sim/*
*.srcs/*
*.xpr
